.btn-primary.wd-override-bs {
  width: 100%;
  border-radius: 50px;
}

.form-control.wd-override-bs {
  border-radius: 50px;
  display: inline-block;
  width: 80%;
}

.wd-profile-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.wd-main-img {
  width: 100%;
  height: auto;
}

.wd-bottom-left {
  bottom: 8px;
  left: 16px;
  color: white;
  font-size: 30px;
}

.wd-tuit-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
